<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>Raíces y Sabores</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/commanStyle.css"
    />

    <link
      rel="stylesheet"
      href="/stylesheets/indexStyle.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

    <style>
      /* dm-serif-text-latin-400-normal */
      @font-face {
        font-family: 'DM Serif Text';
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src:
          url(https://cdn.jsdelivr.net/fontsource/fonts/dm-serif-text@latest/latin-400-normal.woff2) 
          format('woff2'),
          url(https://cdn.jsdelivr.net/fontsource/fonts/dm-serif-text@latest/latin-400-normal.woff) 
          format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122,
          U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* roboto-latin-wght-normal */
      @font-face {
        font-family: 'Roboto Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src:
          url(https://cdn.jsdelivr.net/fontsource/fonts/roboto:vf@latest/latin-wght-normal.woff2) 
          format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122,
          U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      body {
        font-family: 'DM Serif Text', 'Serif';
      }

      p,
      input,
      button,
      textarea {
        font-family: 'Roboto Variable';
      }
    </style>
  </head>

  <body>
    <header><%-include('modules/navbar',{page: "index"}) %></header>
    <main>
      <section class="section-bienvenida">
        <article
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <h1 class="mt-3">¡Bienvenidos a Raíces y Sabores!</h1>
          <p class="logan fs-4">Descubre sabores, comparte pasiones</p>
          <button
            class="border-2 rounded-2"
            onclick="window.location.href='#about'"
          >
            Saber más
          </button>
        </article>
      </section>
      <section
        id="about"
        class="section-about"
      >
        <div class="container-xxl">
          <div class="row justify-content-center align-items-center">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <h2>¿Por qué Raíces y Sabores?</h2>
                <p>Un espacio creado por y para foodies que aman descubrir nuevos
                  lugares, compartir experiencias y disfrutar de la buena mesa.
                  Aquí evaluamos platos, restaurantes y rincones gastronómicos,
                  desde lo tradicional hasta lo más innovador, siempre con la
                  idea de rescatar sabores auténticos y explorar propuestas
                  diferentes.
                </p>
              </article>
            <div class="col-sm-12 col-md-12 col-lg-6 text-lg-center">
              <div
                class="carousel slide py-5"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="images/generales/comida1.jpg"
                      alt="Foto de un huevo frito con pan"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="images/generales/comida2.jpeg"
                      alt="Pasta carbonara"
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="images/generales/comida5.webp"
                      alt="Foto de una hamburguesa de carne con verdura"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        id="objetivos"
        class="section-objetivos py-5 p-sm-4"
      >
        <div class="container-xxl">
          <h2 class="text-md-center">Objetivos de Raíces y Sabores</h2>
          <div class="row">
            <article class="col-sm-12 col-md-6">
                <p><span>1</span> Reunir a personas apasionadas por la
                  gastronomía
                  que quieran compartir, recomendar y descubrir nuevos lugares y
                  sabores.</p>
                <p class="text-center fs-3">---</p>
            </article>
            <article class="col-sm-12 col-md-6">
                <p>
                  <span>2</span> Ofrecer reseñas honestas, detalladas y útiles
                  sobre restaurantes, bares, mercados y propuestas culinarias
                </p>
                <p class="text-center fs-3">---</p>
            </article>
            <article class="col-sm-12 col-md-6">
                <p>
                  <span>3</span> Difundir la riqueza de la cocina tradicional y
                  contemporánea, resaltando historias, ingredientes y raíces
                  culturales.
                </p>
                <p class="text-center fs-3">---</p>
              </article>
            <article class="col-sm-12 col-md-6">
                <p>
                  <span>4</span> Convertirse en un punto de consulta confiable
                  para quienes buscan dónde comer, qué probar y qué experiencias
                  valen la pena.
                </p>
                <p class="text-center fs-3">---</p>
            </article>
            <article class="col-sm-12 col-md-6">
                <p>
                  <span>5</span> Fomentar que los usuarios aporten sus propias
                  experiencias, fotos y recomendaciones para enriquecer el
                  contenido.
                </p>
                
            </article>
            <article class="col-sm-12 col-md-6">
                <p>
                  <span>6</span> Dar visibilidad a pequeños negocios, cocineros
                  independientes y propuestas innovadoras que merecen ser
                  descubiertas.
                </p>
              </article>
          </div>
        </div>
      </section>

      <section
        id="listfoodies"
        class="section-listfoodies">
        <div class="container-xxl">
          <h2 class="mt-5 text-md-center">Perfil de nuestros foodies</h2>
          <div class="row row-cols-4 justify-content-center gap-4 py-5">
            <%foodie.forEach((elem)=> { %>
              <div
                class="card text-center py-3"
                style="width: 18rem"
              >
                <img
                  class="card-img-top"
                  src="/images/foodie/<%=elem.foodie_img?elem.foodie_img :'perfil.jpeg' %> "
                  alt="Foto de usuario o si no tiene, silueta de persona con el logo de la app"
                />
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <%= elem.foodie_name %> <%=elem.foodie_last_name %>
                  </li>
                  <li class="list-group-item">
                    <%= elem.foodie_email %>
                  </li>
                </ul>
                <div>
                  <button
                    class="button-verMas"
                    type="button"
                    onclick="window.location.href='/foodies/profileFoodie/<%= elem.foodie_id %>'"
                  >
                    Ver perfil
                  </button>
                </div>
              </div>
              <% }) %>
          </div>
        </div>
      </section>
    </main>
    <footer><%- include('modules/footer',{page: "index"}) %></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
  </body>

</html>